@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #374151;
  --primary: #9749E3;
  --primary-hover: #7C3AB8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}